*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    background-color: rgb(14, 14, 14);
   display: flex;
   justify-content: center;
    margin: 0;
    height: auto;

}

.container{
    height: 100vh;
    width: 80vw;
    display: grid;
    grid-template: 0.6fr 1fr 1fr / 1fr 2fr 1fr;
    background-color: rgb(215, 218, 219);
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: rgb(2, 171, 238);
    color: white;
    font-size: 16px;

   
}
.sidebar li{
    list-style-type: none;
 font-weight: bold;
 margin-right: 100px;
 width: 150px;
   
}

.sidebar ul{
    margin-top: 50px;
}

.card{
    color: black;
    border-radius: 5px;
    border-left:4px solid rgb(229, 164, 34);
    background-color: white;
    height: 10rem;

    
}
.card ul  {
    list-style-type: none;
    display: flex;
    justify-content: end;
    

}
.card ul ,li{
    margin: 15px ;
}
.announcements{
    grid-column: -2/-1;
    grid-row: 2/-2; 
    border-radius: 5px;
    background-color: rgb(215, 218, 219);
    margin-bottom: 20px;
}

.announcements > p{
    background-color: white;
}

.trending{
    grid-column:-2/-1;
    grid-row: -2/-1;
    border-radius: 3px;
    border-radius: 5px;
    background-color: rgb(215, 218, 219);  
}


.trending > div{
    background-color: white;
    display: flex;
}

button{
 background-color: rgb(2, 171, 238);
 height: 30px;
 width: 100px;
 border-radius: 20px ;
 color: white;
 border: none;
 margin: 0.5rem;
 position: relative;
 top: 5px;
 left: 5px;
 
 
}

a{
    color: white;
    text-decoration: none;

}

.search-box{
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 30px;
}
.search-box > *{
    flex-grow: 1;
}

.projects-card {
    grid-column:2/3;
    grid-row: 2/-1;
    row-gap: 5px;
    column-gap: 5px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: 1rem repeat(3, 1fr);
   
}

.projects-card h3{
    grid-column: 1/3;
    grid-row: 1/2;
}

input {
   
    border-radius: 12px;
    background-color: rgb(219, 224, 227);
    border: none;
    width: 90%;
    height: 20px;
}

img{
    border-radius: 50px;
}

#picture{
    position:relative;
    top: 4px;
    margin-right: 20px;
    padding-left: 0;
}

label{
   
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.caption{
    
    width: 50%;
    display: flex;
    
}

.caption-one{
    
    display: flex;
    justify-content: space-evenly;
}

.caption-two{
    
    display: flex;
    align-items: center;
}

#bell{
position: relative;
top: 20px;
}


#magnify{
    position: relative;
    top: 3px; 
}